<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>欢迎使用 Swift</string>
		<key>value</key>
		<array>
			<dict>
				<key>link</key>
				<string>101_swift</string>
				<key>name</key>
				<string>关于 Swift</string>
			</dict>
			<dict>
				<key>link</key>
				<string>102_a_swift_tour</string>
				<key>name</key>
				<string>Swift 初见</string>
			</dict>
			<dict>
				<key>link</key>
				<string>103_revision_history</string>
				<key>name</key>
				<string>Swift 版本历史记录</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>Swif 教程</string>
		<key>value</key>
		<array>
			<dict>
				<key>link</key>
				<string>201_The_Basics</string>
				<key>name</key>
				<string>基础部分</string>
			</dict>
			<dict>
				<key>link</key>
				<string>202_Basic_Operators</string>
				<key>name</key>
				<string>基本运算符</string>
			</dict>
			<dict>
				<key>link</key>
				<string>203_Strings_and_Characters</string>
				<key>name</key>
				<string>字符串和字符</string>
			</dict>
			<dict>
				<key>link</key>
				<string>204_Collection_Types</string>
				<key>name</key>
				<string>集合类型</string>
			</dict>
			<dict>
				<key>link</key>
				<string>205_Control_Flow</string>
				<key>name</key>
				<string>控制流</string>
			</dict>
			<dict>
				<key>link</key>
				<string>206_Functions</string>
				<key>name</key>
				<string>函数</string>
			</dict>
			<dict>
				<key>link</key>
				<string>207_Closures</string>
				<key>name</key>
				<string>闭包</string>
			</dict>
			<dict>
				<key>link</key>
				<string>208_Enumerations</string>
				<key>name</key>
				<string>枚举</string>
			</dict>
			<dict>
				<key>link</key>
				<string>209_Classes_and_Structures</string>
				<key>name</key>
				<string>类和结构体</string>
			</dict>
			<dict>
				<key>link</key>
				<string>210_Properties</string>
				<key>name</key>
				<string>属性</string>
			</dict>
			<dict>
				<key>link</key>
				<string>211_Methods</string>
				<key>name</key>
				<string>方法</string>
			</dict>
			<dict>
				<key>link</key>
				<string>212_Subscripts</string>
				<key>name</key>
				<string>下标脚本</string>
			</dict>
			<dict>
				<key>link</key>
				<string>213_Inheritance</string>
				<key>name</key>
				<string>继承</string>
			</dict>
			<dict>
				<key>link</key>
				<string>214_Initialization</string>
				<key>name</key>
				<string>构造过程</string>
			</dict>
			<dict>
				<key>link</key>
				<string>215_Deinitialization</string>
				<key>name</key>
				<string>析构过程</string>
			</dict>
			<dict>
				<key>link</key>
				<string>216_Automatic_Reference_Counting</string>
				<key>name</key>
				<string>自动引用计数</string>
			</dict>
			<dict>
				<key>link</key>
				<string>217_Optional_Chaining</string>
				<key>name</key>
				<string>可选链</string>
			</dict>
			<dict>
				<key>link</key>
				<string>218_Error_Handling</string>
				<key>name</key>
				<string>错误处理</string>
			</dict>
			<dict>
				<key>link</key>
				<string>219_Type_Casting</string>
				<key>name</key>
				<string>类型转换</string>
			</dict>
			<dict>
				<key>link</key>
				<string>2220_Nested_Types</string>
				<key>name</key>
				<string>嵌套类型</string>
			</dict>
			<dict>
				<key>link</key>
				<string>221_Extensions</string>
				<key>name</key>
				<string>扩展</string>
			</dict>
			<dict>
				<key>link</key>
				<string>222_Protocols</string>
				<key>name</key>
				<string>协议</string>
			</dict>
			<dict>
				<key>link</key>
				<string>223_Generics</string>
				<key>name</key>
				<string>泛型</string>
			</dict>
			<dict>
				<key>link</key>
				<string>224_Access_Control</string>
				<key>name</key>
				<string>权限控制</string>
			</dict>
			<dict>
				<key>link</key>
				<string>225_Advanced_Operators</string>
				<key>name</key>
				<string>高级操作符</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>语言参考</string>
		<key>value</key>
		<array>
			<dict>
				<key>link</key>
				<string>301_About_the_Language_Reference</string>
				<key>name</key>
				<string>关于语言参考</string>
			</dict>
			<dict>
				<key>link</key>
				<string>302_Lexical_Structure</string>
				<key>name</key>
				<string>词法结构</string>
			</dict>
			<dict>
				<key>link</key>
				<string>303_Types</string>
				<key>name</key>
				<string>类型</string>
			</dict>
			<dict>
				<key>link</key>
				<string>304_Expressions</string>
				<key>name</key>
				<string>表达式</string>
			</dict>
			<dict>
				<key>link</key>
				<string>305_Statements</string>
				<key>name</key>
				<string>语句</string>
			</dict>
			<dict>
				<key>link</key>
				<string>306_Declarations</string>
				<key>name</key>
				<string>申明</string>
			</dict>
			<dict>
				<key>link</key>
				<string>307_Attributes</string>
				<key>name</key>
				<string>特性</string>
			</dict>
			<dict>
				<key>link</key>
				<string>308_Patterns</string>
				<key>name</key>
				<string>模式</string>
			</dict>
			<dict>
				<key>link</key>
				<string>309_Generic_Parameters_and_Arguments</string>
				<key>name</key>
				<string>泛型参数</string>
			</dict>
			<dict>
				<key>link</key>
				<string>310_Summary_of_the_Grammar</string>
				<key>name</key>
				<string>语法总结</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>苹果官方博客翻译</string>
		<key>value</key>
		<array>
			<dict>
				<key>link</key>
				<string>401_Access_Control</string>
				<key>name</key>
				<string>Access Control 权限控制的黑与白</string>
			</dict>
			<dict>
				<key>link</key>
				<string>402_Type_Custom</string>
				<key>name</key>
				<string>造个类型不是梦 白话 Swift 类型创建</string>
			</dict>
			<dict>
				<key>link</key>
				<string>403_Ballons</string>
				<key>name</key>
				<string>WWDC 里面那个「大炮打气球」</string>
			</dict>
			<dict>
				<key>link</key>
				<string>404_Interacting_with_C_Pointers</string>
				<key>name</key>
				<string>Swift 与 C 语言指针友好合作</string>
			</dict>
			<dict>
				<key>link</key>
				<string>405_Value_and_Reference_Types</string>
				<key>name</key>
				<string>引用类型和值类型的恩怨</string>
			</dict>
			<dict>
				<key>link</key>
				<string>406_Access_Control_and_Protected</string>
				<key>name</key>
				<string>访问控制和 Protected</string>
			</dict>
			<dict>
				<key>link</key>
				<string>407_Optional_Case_Study</string>
				<key>name</key>
				<string>可选类型完美解决占位符</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
