<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>name</key>
			<string>关于 Swift</string>
			<key>link</key>
			<string>01_swift</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Swift 初见</string>
			<key>link</key>
			<string>02_a_swift_tour</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>基础部分</string>
			<key>link</key>
			<string>01_The_Basics</string>
		</dict>
		<dict>
			<key>name</key>
			<string>基本运算符</string>
			<key>link</key>
			<string>02_Basic_Operators</string>
		</dict>
		<dict>
			<key>name</key>
			<string>字符串和字符</string>
			<key>link</key>
			<string>03_Strings_and_Characters</string>
		</dict>
		<dict>
			<key>name</key>
			<string>集合类型</string>
			<key>link</key>
			<string>04_Collection_Types</string>
		</dict>
		<dict>
			<key>name</key>
			<string>控制流</string>
			<key>link</key>
			<string>05_Control_Flow</string>
		</dict>
		<dict>
			<key>name</key>
			<string>函数</string>
			<key>link</key>
			<string>06_Functions</string>
		</dict>
		<dict>
			<key>name</key>
			<string>闭包</string>
			<key>link</key>
			<string>07_Closures</string>
		</dict>
		<dict>
			<key>name</key>
			<string>枚举</string>
			<key>link</key>
			<string>08_Enumerations</string>
		</dict>
		<dict>
			<key>name</key>
			<string>类和结构体</string>
			<key>link</key>
			<string>09_Classes_and_Structures</string>
		</dict>
		<dict>
			<key>name</key>
			<string>属性</string>
			<key>link</key>
			<string>10_Properties</string>
		</dict>
		<dict>
			<key>name</key>
			<string>方法</string>
			<key>link</key>
			<string>11_Methods</string>
		</dict>
		<dict>
			<key>name</key>
			<string>下标脚本</string>
			<key>link</key>
			<string>12_Subscripts</string>
		</dict>
		<dict>
			<key>name</key>
			<string>继承</string>
			<key>link</key>
			<string>13_Inheritance</string>
		</dict>
		<dict>
			<key>name</key>
			<string>构造过程</string>
			<key>link</key>
			<string>14_Initialization</string>
		</dict>
		<dict>
			<key>name</key>
			<string>析构过程</string>
			<key>link</key>
			<string>15_Deinitialization</string>
		</dict>
		<dict>
			<key>name</key>
			<string>自动引用计数</string>
			<key>link</key>
			<string>16_Automatic_Reference_Counting</string>
		</dict>
		<dict>
			<key>name</key>
			<string>可选链</string>
			<key>link</key>
			<string>17_Optional_Chaining</string>
		</dict>
		<dict>
			<key>name</key>
			<string>类型转换</string>
			<key>link</key>
			<string>18_Type_Casting</string>
		</dict>
		<dict>
			<key>name</key>
			<string>嵌套类型</string>
			<key>link</key>
			<string>19_Nested_Types</string>
		</dict>
		<dict>
			<key>name</key>
			<string>扩展</string>
			<key>link</key>
			<string>20_Extensions</string>
		</dict>
		<dict>
			<key>name</key>
			<string>协议</string>
			<key>link</key>
			<string>21_Protocols</string>
		</dict>
		<dict>
			<key>name</key>
			<string>泛型</string>
			<key>link</key>
			<string>22_Generics</string>
		</dict>
		<dict>
			<key>name</key>
			<string>高级操作符</string>
			<key>link</key>
			<string>23_Advanced_Operators</string>
		</dict>
		<dict>
			<key>name</key>
			<string>权限控制</string>
			<key>link</key>
			<string>24_Access_Control</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>关于语言参考</string>
			<key>link</key>
			<string>01_About_the_Language_Reference</string>
		</dict>
		<dict>
			<key>name</key>
			<string>词法结构</string>
			<key>link</key>
			<string>02_Lexical_Structure</string>
		</dict>
		<dict>
			<key>name</key>
			<string>类型</string>
			<key>link</key>
			<string>03_Types</string>
		</dict>
		<dict>
			<key>name</key>
			<string>表达式</string>
			<key>link</key>
			<string>04_Expressions</string>
		</dict>
		<dict>
			<key>name</key>
			<string>语句</string>
			<key>link</key>
			<string>05_Statements</string>
		</dict>
		<dict>
			<key>name</key>
			<string>申明</string>
			<key>link</key>
			<string>06_Declarations</string>
		</dict>
		<dict>
			<key>name</key>
			<string>特性</string>
			<key>link</key>
			<string>07_Attributes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>模式</string>
			<key>link</key>
			<string>08_Patterns</string>
		</dict>
		<dict>
			<key>name</key>
			<string>泛型参数</string>
			<key>link</key>
			<string>09_Generic_Parameters_and_Arguments</string>
		</dict>
		<dict>
			<key>name</key>
			<string>语法总结</string>
			<key>link</key>
			<string>10_Summary_of_the_Grammar</string>
		</dict>
	</array>
</array>
</plist>
